/* Form.module.css (ou o nome do seu arquivo CSS) */

.formulario {
  margin: 0 auto;
}

textarea {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  border: 1px solid var(--green-300);
  border-radius: 8px;
  resize: none;
  align-content: center;
  text-align: center;
  background-color: white;
}

 
.disabledTextarea {
  border: none; /* Cor da borda dos textareas desabilitados */
  color: transparent; /* Torna o texto invisível */
  pointer-events: none; /* Desabilita interações com o usuário */
}